<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-info text-uppercase mb-3">user profile</h1>
        <img src="{{avatar}}" alt="avatar" class="img-fluid rounded-circle mb-3" style="width: 200px;">
        <div class="list-group-item mb-3" style="width: 500px;">
            <label>Name:</label>
            <span class="text-primary">{{name}}</span>
        </div>
        <div class="list-group-item mb-3" style="width: 500px;">
            <label>Email:</label>
            <span class="text-success">{{email}}</span>
        </div>
    </div>
</div>