<!DOCTYPE html>
<html lang="en">

<head>
    {{>html_headers}}
    <title>Dog | List</title>
    <link rel="icon" href="/img/dog.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>display}}
    </div>

    {{>footer}}

</body>

</html>