<section class="w-50 p-3">
    <span class="d-flex justify-content-center py-2">
        <a href="/" class="fs-3">GO TO HOME</a>
    </span>
    <div id="game-ui" class="d-flex flex-column overflow-hidden">
        <div class="d-flex justify-content-center">
            <div id="0,0" class="box"></div>
            <div id="0,1" class="box"></div>
            <div id="0,2" class="box"></div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="1,0" class="box"></div>
            <div id="1,1" class="box"></div>
            <div id="1,2" class="box"></div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="2,0" class="box"></div>
            <div id="2,1" class="box"></div>
            <div id="2,2" class="box"></div>
        </div>
    </div>
</section>