<div class="container">
    <div class="p-5">
        <h5 class="text-danger mb-4">Select link from the list:</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/hoverboard">Hoverboard</a>
            </li>
            <li class="list-group-item">
                <a href="/tictactoe">Tic Tac Toe</a>
            </li>
        </ul>
    </div>
</div>