<aside class="w-25 d-flex align-items-center justify-content-start">
    <div class="card p-3  border border-4 border-success rounded">
        <div class="card-body text-center">
            <h3>Player 2</h3>
            <hr>
            <div class="message-2">
                <span class="text-Success fs-2">Green :</span>
                <span class="text-secondary fs-2">O</span>
            </div>
        </div>
        <div id="toggle-2" class="card-footer alert alert-success show">
            Your Turn
        </div>
    </div>
</aside>