<aside class="w-25 d-flex align-items-center justify-content-end">
    <div class="card p-3 border border-2 border-danger rounded">
        <div class="card-body text-center">
            <h3> Player 1 </h3>
            <hr>
            <div class="message-1">
                <span class="text-danger fs-2">Red : </span>
                <span class="text-secondary fs-2">X</span>
            </div>
        </div>
        <div id="toggle-1" class="card-footer alert alert-success">
            Your Turn
        </div>
    </div>
</aside>