<!DOCTYPE html>
<html lang="en">

<head>
    {{>html_headers}}
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    {{>register_nav}}
    <div class="container"></div>
    {{>register_form}}
    {{>main_footer}}
    {{>scripts}}
</body>

</html>