<!DOCTYPE html>
<html lang="en">

<head>
    {{>html_headers}}

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>body}}
    </div>

    {{>footer}}

</body>

</html>