.profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30ch;
  margin: 0 auto;
  padding: 2rem 0rem;
  border: 2px solid rgb(219, 121, 121);
  border-radius: 1rem;
  background: #FFBCBC;

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.upload-containner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 30ch;
}