<div class="border p-3">
    <div class="text-uppercase d-flex">
        <h2 class="text-info pe-5">Title</h2>
        <p class="fw-bold fs-3 ps-5">{{title}}</p>
    </div>

    <hr>

    <div class="d-flex">
        <h2 class="text-info text-uppercase">Content</h2>
        <p class="text-success ps-5">{{body}}</p>
    </div>
</div>